$main-light-grey: #f5f5f5;
$main-dark-grey: #4a4a4a;
$middle-grey: #858583;
$border-color: #ccc;
$root-font-size: 16px;
$headlines-font: "Lato", sans-serif;
$text-font: "Open Sans", sans-serif;
$header-height: 130px;
