@import "../../abstracts/reset";
@import "../../abstracts/base";

html {
  font-family: $text-font;
  font-size: ($root-font-size / 16px) * 100%;
  color: $main-dark-grey;
  height: 100%;
}

body {
  background: #ffffff;
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
