@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../abstracts/functions";

.preview {
  background-color: #f5f5f5;
  margin-top: 10px;
  width: 100%;
  height: 610px;
  &__list {
    display: flex;
    height: 100%;
  }
  &__item {
    flex: 0 1 33.3333%;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      background: url('../../images/preview-1.webp') center center/cover no-repeat;
    }
    &:nth-child(2) {
      background: url("../../images/preview-2.webp") center center/cover no-repeat;
    }
    &:last-child {
      background: url("../../images/preview-3.webp") center center/cover no-repeat;
    }
  }
  &__link {
    display: block;
    max-width: 180px;
    font-size: rem(34px);
    text-align: center;
    color: #fff;
    @include bold-headlines-font;
    text-decoration: none;
    line-height: normal;
  }
}
