@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../abstracts/functions";

.ribbon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $middle-grey;
    width: 110px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    @include normal-text-font;
    font-style: rem(16px);
}

.products {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
  }
  
  .product {
    position: relative;
    flex: 0 1 25%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    min-height: 678px;
    &__img {
      width: 100%;
    }
    &__pic {
      width: 100%;
    }
    &__price {
        text-align: center;
        color: $middle-grey;
        font-size: rem(14px);
    }
    &__link {
        text-decoration: none;
        color: $main-dark-grey;
    }
    &__headline {
        position: relative;
        @include normal-text-font;
        font-size: rem(18px);
        text-align: center;
        margin: 20px 0 20px;
        &:after {
          content: '';
          width: 20px;
          height: 1px;
          position: absolute;
          top: 34px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $main-dark-grey;
        }
      }
  }