@import "../../abstracts/base";

.header {
  width: 100%;
  height: $header-height;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff;
  @media (max-width: 767px) {
    position: absolute;
  }
  &__body {
    padding: 0 4%;
    height: 68%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: space-between;
      &.open .header__nav {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
      }

      &.open .header__list {
        opacity: 1;
        visibility: visible;
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 40%;
        align-items: flex-start;
      }

      &.open .header__item {
        margin-left: 0;
        &:first-child {
          margin-left: 0;
        }
      }

      &.open .header__burger {
        position: absolute;
        top: 75px;
        right: 10px;
        z-index: 10;
      }

      &.open .header__burger:before {
        transform: translateX(-50%) rotate(-45deg);
        top: 50%;
      }

      &.open .user-nav__login {
        display: block;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }

      &.open .header__burger:after {
        transform: translateX(-50%) rotate(45deg);
        bottom: calc(50% - 2px);
      }

      &.open .header__burger > span {
        display: none;
      }

      &.open .logo {
        display: none;
      }

      &.open .icon {
        display: none;
      }
    }
  }
  &__nav {
    margin: 0 60px 0 auto;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
    @media (max-width: 767px) {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(14px);
    line-height: 50px;
    color: $main-dark-grey;
    @include normal-text-font;
    &:hover {
      color: $middle-grey;
    }
  }

  &__item {
    margin-left: 64px;
    &:first-child {
      margin-left: 0;
    }
    @media (max-width: 991px) {
      margin-left: 34px;
    }
  }
  &__burger {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    @media (max-width: 767px) {
      display: block;
      background: transparent;
      width: 30px;
      height: 20px;
      position: relative;
      order: 3;
      margin-left: 30px;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $main-dark-grey;
        position: absolute;
        top: 0;
        display: block;
        border-radius: 1px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $main-dark-grey;
        position: absolute;
        bottom: 0;
        display: block;
        border-radius: 1px;
      }
      & > span {
        width: 100%;
        height: 2px;
        background-color: $main-dark-grey;
        position: absolute;
        top: 50%;
        display: block;
        transform: translateY(-50%);
        border-radius: 1px;
      }
    }
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    order: 2;
  }
  &__login {
    display: flex;
    align-items: center;
    text-decoration: none;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__text {
    font-size: rem(16px);
    line-height: 22px;
    color: $main-dark-grey;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__link {
    display: block;
    width: 50px;
    height: 50px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    color: $main-dark-grey;
  }
  &__text {
    text-decoration: none;
    color: $main-dark-grey;
    font-size: rem(18px);
    width: 150px;
  }
}

.avatar {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  color: $main-dark-grey;
  &__img {
    width: 100%;
    height: 100%;
  }
}

.icon {
  width: 42px;
  height: 17px;
  margin-left: 30px;
  color: $main-dark-grey;
  &__img {
    width: 100%;
    height: 100%;
  }
}
