@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../abstracts/functions";


.footer {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  border-top: 1px solid $border-color;
  &__column {
    flex: 0 1 25%;
    text-align: center;
  }
  &__list {
    text-align: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: $middle-grey;
    font-size: rem(16px);
    line-height: 32px;
    display: flex;
  }

  .headline_small {
    margin-bottom: 30px;
  }
}
