@import '../../abstracts/base';


.footer {
  display: flex;
  flex-direction: column;
  &__top {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    border-top: 1px solid $border-color;
    @media (max-width: 767px) {
      flex-direction: column;
      &:first-child {
        padding: 30px 0;
      }
    }
  }
  &__column {
    flex: 0 1 25%;
    text-align: center;
    position: relative;
    @media (max-width: 767px) {
      margin-top: 30px;

      &:nth-child(3) {
        order: 4;
      }
    }
    
  }
  &__list {
    text-align: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: $middle-grey;
    font-size: rem(16px);
    line-height: 32px;
    display: flex;
  }
  &__copyright {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    border-top: 1px solid $border-color;
    color: $middle-grey;
    font-size: rem(14px);
    @media (max-width: 767px) {
      margin-top: 100px;
    }
  }

  .headline_small {
    margin-bottom: 30px;

  }

}

.form_footer {
  width: 220px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
