@import '../../abstracts/base';

.headline {
  text-align: center;
  color: $main-dark-grey;
  @include bold-headlines-font;
  &_small {
    font-size: rem(21px);

  }
  &_upper {
    font-size: rem(48px);
    text-transform: uppercase;
    letter-spacing: 1.30px;
    margin: 80px 0 86px;
  }
  &_login {
    font-size: rem(44px);
    margin-bottom: 28px;
  }
}
